# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Coverage
coverage
*.lcov
.nyc_output

# Build & Dist
node_modules/
dist
dev-dist/
build/
.cache
.parcel-cache

# TypeScript
*.tsbuildinfo

# Env files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# Firebase cache and deployment
.firebase/
.firebaserc.local

# IDE & Editor
.vscode/
.snapshots/
.DS_Store
Thumbs.db
